{% extends 'base.html' %}

{% block content %}
{% load static %}
{% static "img" as baseUrl %}

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>ProProject</title>


  <link href="{% static 'css/help.css'%}" rel='stylesheet'>

</head>
<body>
  <br><br><br>
    <div class="container">
        <div class="row">
        <div id="sp-component" class="col-sm-12 col-md-12"><div class="sp-column ">
        </div>
        <div class="row">
        <div class="col-sm-4">
        <div class="documentation-index">
        <a href="/documentation/sp-page-builder/sp-page-builder-2-x">
        <img src="//www.joomshaper.com/images/2017/01/27/page-builder.png" alt="SP Page Builder">
        </a>
        <h2>SP Page Builder</h2>
        <div class="documentation-shortdesc">
        The complete knowledge base and best crafted guide to SP Page Builder you will ever need. </div>
        <a class="btn btn-doc-outline" href="/documentation/sp-page-builder/sp-page-builder-2-x">View Documentation</a>
        </div>
        </div>
        <div class="col-sm-4">
        <div class="documentation-index">
        <a href="/documentation/joomla-templates/rhino">
        <img src="//www.joomshaper.com/images/2017/01/27/template.png" alt="Joomla Templates">
        </a>
        <h2>Joomla Templates</h2>
        <div class="documentation-shortdesc">
        Explore our extensive resources to get an in-depth understanding on our Joomla templates. </div>
        <a class="btn btn-doc-outline" href="/documentation/joomla-templates/rhino">View Documentation</a>
        </div>
        </div>
        <div class="col-sm-4">
        <div class="documentation-index">
        <a href="/documentation/joomla-extensions/sp-easyimagegallery">
        <img src="//www.joomshaper.com/images/2017/01/27/extensions.png" alt="Joomla Extensions">
        </a>
        <h2>Joomla Extensions</h2>
        <div class="documentation-shortdesc">
        Learn ins and outs of our powerful, innovative and world wide used extensions for Joomla. </div>
        <a class="btn btn-doc-outline" href="/documentation/joomla-extensions/sp-easyimagegallery">View Documentation</a>
        </div>
        </div>
        <div class="col-sm-4">
        <div class="documentation-index">
        <a href="/documentation/helix-framework/helix3">
        <img src="//www.joomshaper.com/images/2017/01/27/helix.png" alt="Helix Framework">
        </a>
        <h2>Helix Framework</h2>
        <div class="documentation-shortdesc">
        Learn everything about the Helix Framework. What’s Helix, how to use it and much more. </div>
        <a class="btn btn-doc-outline" href="/documentation/helix-framework/helix3">View Documentation</a>
        </div>
        </div>
        <div class="col-sm-4">
        <div class="documentation-index">
        <a href="https://www.joomshaper.com/faqs">
        <img src="//www.joomshaper.com/images/2017/01/27/faq.png" alt="Faqs">
        </a>
        <h2>Faqs</h2>
        <div class="documentation-shortdesc">
        A set of ready answers to the most common questions asked by the users and members. </div>
        <a class="btn btn-doc-outline" href="https://www.joomshaper.com/faqs">View Faqs</a>
        </div>
        </div>
        <div class="col-sm-4">
        <div class="documentation-index">
        <a href="https://www.joomshaper.com/forums">
        <img src="//www.joomshaper.com/images/2017/01/27/forums.png" alt="Forums">
        </a>
        <h2>Forums</h2>
        <div class="documentation-shortdesc">
        Share your experience and get solutions to any issue you may face with our products. </div>
        <a class="btn btn-doc-outline" href="https://www.joomshaper.com/forums">Access Forums</a>
        </div>
        </div>
        </div>
        </div></div>



</body>

{% endblock %}